In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sf-crime/train.csv.zip
/kaggle/input/sf-crime/sampleSubmission.csv.zip
/kaggle/input/sf-crime/test.csv.zip

In [3]:
train = pd.read_csv('/kaggle/input/sf-crime/train.csv.zip')
test = pd.read_csv('/kaggle/input/sf-crime/test.csv.zip')
train

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

In [4]:
test

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
...,...,...,...,...,...,...,...
884257,884257,2003-01-01 00:01:00,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987
884258,884258,2003-01-01 00:01:00,Wednesday,NORTHERN,1900 Block of WASHINGTON ST,-122.425342,37.792681
884259,884259,2003-01-01 00:01:00,Wednesday,INGLESIDE,5500 Block of MISSION ST,-122.445418,37.712075
884260,884260,2003-01-01 00:01:00,Wednesday,BAYVIEW,1500 Block of HUDSON AV,-122.387394,37.739479
884261,884261,2003-01-01 00:01:00,Wednesday,TARAVAL,1500 Block of SLOAT BL,-122.489714,37.733950

In [5]:
alldata = pd.concat([train,test])
alldata['Dates'] = pd.to_datetime(alldata['Dates'])
alldata['Year'] = alldata['Dates'].dt.year
alldata['Month'] = alldata['Dates'].dt.month
alldata['Day'] = alldata['Dates'].dt.day
alldata['Hour'] = alldata['Dates'].dt.hour

In [6]:
alldata2 = alldata.drop(columns = ['Dates', 'Category', 'Id','Descript','Resolution'])
alldata2

,DayOfWeek,PdDistrict,Address,X,Y,Year,Month,Day,Hour
0,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23
1,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23
2,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,23
3,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,13,23
4,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541,2015,5,13,23
...,...,...,...,...,...,...,...,...,...
884257,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987,2003,1,1,0
884258,Wednesday,NORTHERN,1900 Block of WASHINGTON ST,-122.425342,37.792681,2003,1,1,0
884259,Wednesday,INGLESIDE,5500 Block of MISSION ST,-122.445418,37.712075,2003,1,1,0
884260,Wednesday,BAYVIEW,1500 Block of HUDSON AV,-122.387394,37.739479,2003,1,1,0
884261,Wednesday,TARAVAL,1500 Block of SLOAT BL,-122.489714,37.733950,2003,1,1,0

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cat_cols = alldata2.columns[alldata2.dtypes == object]
for i in cat_cols:
    alldata2[i] = le.fit_transform(list(alldata2[i]))

In [8]:
train2 = alldata2[:len(train)]
test2 = alldata2[len(train):]
train['Category']
train2

,DayOfWeek,PdDistrict,Address,X,Y,Year,Month,Day,Hour
0,6,4,20895,-122.425892,37.774599,2015,5,13,23
1,6,4,20895,-122.425892,37.774599,2015,5,13,23
2,6,4,24169,-122.424363,37.800414,2015,5,13,23
3,6,4,4418,-122.426995,37.800873,2015,5,13,23
4,6,5,1923,-122.438738,37.771541,2015,5,13,23
...,...,...,...,...,...,...,...,...,...
878044,1,8,16536,-122.459033,37.714056,2003,1,6,0
878045,1,2,11840,-122.447364,37.731948,2003,1,6,0
878046,1,7,11662,-122.403390,37.780266,2003,1,6,0
878047,1,7,23738,-122.390531,37.780607,2003,1,6,0
878048,1,0,5300,-122.394926,37.738212,2003,1,6,0

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_valid,y_train,y_valid = train_test_split(train2,train['Category'],test_size = 0.2, random_state = 100)
y_valid

211709            SUSPICIOUS OCC
279619            OTHER OFFENSES
64150                  VANDALISM
602762    FORGERY/COUNTERFEITING
109592             LARCENY/THEFT
                   ...
184232             LARCENY/THEFT
455514            SUSPICIOUS OCC
674318                  WARRANTS
640570                  WARRANTS
132466            OTHER OFFENSES
Name: Category, Length: 175610, dtype: object

In [10]:
from catboost import CatBoostClassifier
cbc = CatBoostClassifier(verbose = 50, task_type = 'GPU') #
cbc.fit(x_train,y_train,eval_set = (x_valid,y_valid))
result = cbc.predict_proba(test2)

Learning rate set to 0.203863
0:	learn: 3.0613541	test: 3.0623836	best: 3.0623836 (0)	total: 78.7ms	remaining: 1m 18s
50:	learn: 2.4202053	test: 2.4311313	best: 2.4311313 (50)	total: 4.27s	remaining: 1m 19s
100:	learn: 2.3834749	test: 2.4039075	best: 2.4039075 (100)	total: 7.69s	remaining: 1m 8s
150:	learn: 2.3597231	test: 2.3896055	best: 2.3896055 (150)	total: 11.2s	remaining: 1m 2s
200:	learn: 2.3411011	test: 2.3801173	best: 2.3801173 (200)	total: 14.7s	remaining: 58.3s
250:	learn: 2.3252572	test: 2.3736798	best: 2.3736798 (250)	total: 18.1s	remaining: 54.1s
300:	learn: 2.3115651	test: 2.3691111	best: 2.3691111 (300)	total: 21.6s	remaining: 50.1s
350:	learn: 2.2987996	test: 2.3643382	best: 2.3643382 (350)	total: 25.1s	remaining: 46.5s
400:	learn: 2.2869194	test: 2.3614086	best: 2.3614086 (400)	total: 28.6s	remaining: 42.6s
450:	learn: 2.2752228	test: 2.3586628	best: 2.3586628 (450)	total: 32s	remaining: 38.9s
500:	learn: 2.2642463	test: 2.3567347	best: 2.3567347 (500)	total: 36.2s	remaining: 36s
550:	learn: 2.2540493	test: 2.3548828	best: 2.3548828 (550)	total: 39.6s	remaining: 32.3s
600:	learn: 2.2436639	test: 2.3531510	best: 2.3531282 (599)	total: 43.1s	remaining: 28.6s
650:	learn: 2.2338909	test: 2.3523132	best: 2.3523132 (650)	total: 46.6s	remaining: 25s
700:	learn: 2.2248211	test: 2.3513960	best: 2.3513960 (700)	total: 50.1s	remaining: 21.4s
750:	learn: 2.2161255	test: 2.3507440	best: 2.3507440 (750)	total: 53.5s	remaining: 17.7s
800:	learn: 2.2077010	test: 2.3501602	best: 2.3501602 (800)	total: 57.1s	remaining: 14.2s
850:	learn: 2.1992716	test: 2.3492982	best: 2.3492982 (850)	total: 1m	remaining: 10.6s
900:	learn: 2.1910306	test: 2.3487540	best: 2.3487255 (894)	total: 1m 3s	remaining: 7.03s
950:	learn: 2.1826433	test: 2.3485122	best: 2.3485122 (950)	total: 1m 8s	remaining: 3.51s
999:	learn: 2.1750245	test: 2.3482895	best: 2.3482513 (978)	total: 1m 11s	remaining: 0us
bestTest = 2.348251274
bestIteration = 978
Shrink model to first 979 iterations.

In [11]:
result = cbc.predict_proba(test2)

In [12]:
sub = pd.read_csv('/kaggle/input/sf-crime/sampleSubmission.csv.zip') #ë‹¤ì¤‘ë¶„ë¥˜ ë²”ì£„ë³„ í™•ë¥ (39ê°€ì§€)

In [13]:
sub.iloc[:,1:] = result
pd.options.display.max_columns = 99

In [14]:
sub.to_csv('sub.csv', index = 0)